:root {
   --fundocor: #6B4BEB;
   --corletra: #55347D;
   --corfundo2: #8457FA;
   --corquadrado: #A959F0;
}
* {
    margin: 0;
    padding: 0;
}
.banner {
   width: 100%;
   height: 100px;
   background-color: var(--corquadrado);
}
.investimento {
    height: 90px;
    width: 8%;
}
.conteudo {
    width: 100%;
    height: 20px;
    background-color: var(--fundocor);
}
.rodape {
    width: 100%;
    height: 50px;
    background-color: var(--corquadrado);
}

body {
    background-color: black;
}

h4 {
    color: white;
}
h1 {
    color: white;
}