:root {
   --fundocor: #362772;
   --corletra: #55347D;
   --corfundo2: #2d215d;
   --corquadrado: #2a143d;
}
* {
    margin: 0;
    padding: 0;
}
.banner {
   width: 100%;
   height: 100px;
   background-color: var(--corquadrado);
}
.investimento {
    height: 90px;
    width: 8%;
}
.conteudo {
    width: 100%;
    height: 20px;
    background-color: #672222;
    text-align: center;
}
.rodape {
    width: 100%;
    height: 50px;
    background-color: var(--corquadrado);
        grid-row-start: 2;
        grid-row-end: 3;
}

h2 {
    color: black;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
h3 {
    color: black;
    text-indent: 10px;
    margin-left: 10px;
    font-weight: normal;
    
}
.menu {
    text-decoration: none;
    color:black;
    text-indent: 25px;
    margin-left: 20px;
}
.video {
   margin: 0 auto;
   display: block;
}

.nossosnomes {
    background-color: #200f2f;
    color:#bd4949;
}

#joia {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color:var(--fundocor)
}



















h1 {
    background-color: var(--fundocor);
    color: black;
}
h2 {
    background-color: var(--fundocor);
    color: black;
}
h3 {
    background-color: var(--fundocor);
    color: black;
}
h4 {
    background-color: var(--fundocor);
    color: black;
}
h5 {
    background-color: var(--fundocor);
    color: black;
}
p {
    color:black
}